[2016-10-27 13:46] gund opened #1 "Error: Unexpected value 'Ng2DragDropModule' imported by the module"
Trying to use it angular2 app generated by angular cli. Default setup (with webpack).
Installed module via npm and trying to import to my app module:
`imports: [Ng2DragDropModule]`

Everything compiles fine but in browser I got:
`Error: Unexpected value 'Ng2DragDropModule' imported by the module 'AppModule'`

Importing module like so:
`import { Ng2DragDropModule } from 'ng2-drag-drop'`

Do you kno

[2016-10-27 14:01] gund commented on #1
Also if I console Ng2DragDropModule just before `@NgModule` annotation I can see:
[code]

[2016-10-28 10:18] ObaidUrRehman commented on #1
@gund , I think this is probably related to using webpack. I haven't tested or added support for webpack yet. (I plan to). If could possibly provide me a plunkr that would really help.

[2016-10-28 21:56] gund commented on #1
@ObaidUrRehman I'm not sure it is possible to use webpack with plunkr =)

Anyway there is really no configuration required for webpack to use your library, I just npm install it and import that should do the job.
But for some reason angular complains.

You can try to create project with angular cli, install your lib and import it to AppModule to see that error in runtime.

[2016-11-01 07:33] ObaidUrRehman commented on #1
@gund what version of ng-cli are you using? Its seems that this is a know problem with older versions of cli. See Also: https://github.com/videogular/videogular2/issues/249

I encountered the same problem with angular-cli 1.0.0-beta-15.0.0 but with v 1.0.0-beta.19-3 its working fine.

[2016-11-01 09:50] gund commented on #1
I do use angular-cli v1.0.0-beta-16 so I will try to upgrade it and try again.
Thanks for referencing an issue.

[2016-11-01 11:02] gund commented on #1
You are right with updated angular-cli (1.0.0-beta.19-3) this is not longer an issue.

Thanks a lot!

[2016-11-01 11:02] #1 closed

[2016-11-19 18:36] khullah opened #2 "Angular 1.x"
Hi, awesome directives! Any chances this is available to Angular 1.x versions too?

I'm a total noob in Angular 2, don't even know if there is something that restricts that, or if its easy like rendering typescript to javascript, then making some basic changes.

Thanks

[2016-11-24 14:43] ObaidUrRehman commented on #2
@khullah you can check out a couple of excellent angularjs based solutions. I'd recommend this one: http://codef0rmer.github.io/angular-dragdrop/#!/.

[2016-11-24 14:44] #2 closed

[2016-11-26 20:18] khullah commented on #2
Yeah, didn't really liked that one.. Tried some others, but no quite what I want.

I'll see if I can 'translate' yours to 1.x, if that's ok with you.

[2016-11-28 05:16] ObaidUrRehman commented on #2
@khullah sure go ahead. No issues what so ever. This tutorial on native Html5 drag drop will help you get started: https://www.html5rocks.com/en/tutorials/dnd/basics/

[2016-12-13 10:55] partha006 opened #3 "I need to move the component(Example: button component) into the droppable item."
My aim is to move the component(any component) from draggable to droppable. Is there default component which do that stuff?

[2016-12-22 01:39] sarora2073 commented on #1
fyi - i'm having the same error, using the latest greatest angular-cli (1.0.0-beta.24) with angular 2.3.0. i happen to be using webpack, so not sure if that is a factor after all as suggested above.

[2016-12-27 05:45] gund commented on #1
@sarora2073 can you tell if you are getting that error in AOT mode only?

[2016-12-27 17:35] sarora2073 commented on #1
No, i'm not doing this in AOT mode.

[2016-12-28 12:37] ObaidUrRehman commented on #1
This seems to be an issue with angular-cli.
For refrence: https://github.com/angular/angular-cli/issues/3426

I need to look into this in detail.

[2016-12-30 09:25] ObaidUrRehman commented on #1
@sarora2073 I just updated ng2-drag-drop to v0.5.1. Now using ngc to build instead of tsc (among other changes). Its now working on angular-cli v1.0.0-beta.24

[2016-12-30 09:30] ObaidUrRehman commented on #3
@partha006 you can use this the `draggable` and `droppable` directives to achieve this. Please see: https://github.com/ObaidUrRehman/ng2-drag-drop/blob/master/README.md#use-the-draggable--droppable-directives.

Closing this as its more of a support ticket.

[2016-12-30 09:30] #3 closed

[2017-01-17 15:47] therahuls1ngh opened #7 "drag and drop in multiple component"
I have two component for example
one.ts
tasks[]
tasks ={"A","B"}
two.ts
tasks[]
when I drop one element i.e A from one.ts to two.ts  it should remove from one.ts and vice versa.

[2017-01-31 07:14] Vinutha-BK opened #8 "Drag drop not supported in all browsers"
Currently I have implemented DnD by importing 'Ng2DragDropModule', its working fine in chrome and mozilla.
But not supported in safari and ms edge browser.
Please guide where we have to change to support all browsers.

[2017-01-31 09:56] ObaidUrRehman commented on #8
@Vinutha-BK can you please let me know which version of Safari is causing issues. I have checked it against Safari v9.1.2 and it is working fine. There seems to be issues with Edge browser that I am looking into.

[2017-01-31 15:04] Vinutha-BK commented on #8
@ObaidUrRehman Thank you for the quick response.I was checking with Safari v5.1.7 which is the latest version for windows 8 and its not working. Kindly suggest to resolve the issue in Edge browser.

[2017-02-13 14:52] ersurajnegi commented on #8
DnD not working for EDGe browser

[2017-02-13 14:54] ersurajnegi opened #11 "Make scope an array of string"
dropScope for droppable directive is a string.
can you make it an array for strings so that droppable directive can accept more than 1 type of items?

[2017-02-14 05:26] ObaidUrRehman commented on #8
Will fix the issue in edge. Its because of using non-standard `content-type` in `dataTransfer.setData()`. Edge only accepts text or json.

@Vinutha-BK the Safari for windows is very old, apple dropped support for it ages ago.

[2017-02-14 12:24] JosephSKh opened #12 "Feature request: Sort draggable items"
Is it able to add a feature to sort the draggable items and re order them?
thx

[2017-02-21 20:32] toanqc opened #13 "Issue when item is draggable and droppable"
Is this feature not supported right now?

Because I marked a div as both draggable and droppable then I get the error below:

SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at Droppable.drop (droppable.js:51)
    at Wrapper_Droppable.handleEvent (/Ng2DragDropModule/Droppable/wrapper.ngfactory.js:74)
    at View_NavverItemComponent3.handleEvent_0 (/Dashboa

[2017-02-24 05:59] ObaidUrRehman commented on #13
Haven't actually tried doing something like this. But I'll have a look.

[2017-02-24 06:09] ObaidUrRehman opened #15 "Apply droppable.dragOverClass only on parent droppable element"
Must apply `droppable.dragOverClass` only on parent droppable element. Currently it applies that class to element that is under the mouse on hover. This behaviour is confusing because it misleads the user in thinking that they are different drop-off areas.

See the plunkr demo: http://plnkr.co/edit/2bjGgzWnbFrciEiCKLew?p=preview

[2017-02-24 06:13] ObaidUrRehman commented on #7
@therahuls1ngh you will have to manually remove/add the items. You will also need to apply both `droppable` and `draggable` directives on elements. This is something that is currently buggy. See #13

[2017-03-02 19:22] ajphukan opened #16 "Drag Multiple Item"
Is there is anyway to drag multiple selected item from one list to another list

[2017-03-07 09:59] #8 closed

[2017-03-07 09:59] #11 closed

[2017-03-07 14:13] ObaidUrRehman commented on #13
@toanqc with v1.0.0 release you can't add `draggable` & `droppable` directives to the same element but it will not work since droppable explicitly disables drag on an element.

Can you explain the use case of making an element `draggable` and `droppable` at the same time?

[2017-03-07 15:08] ObaidUrRehman commented on #7
@therahuls1ngh Please see the updated plunkr demo. I have added a new example where you can drag and drop items between 2 list.

[2017-03-07 15:08] #7 closed

[2017-03-07 15:08] ObaidUrRehman commented on #13
I was wondering if the new example is what you had in mind: http://plnkr.co/edit/ki2TgX?p=preview

[2017-03-07 15:11] ObaidUrRehman commented on #16
No, this functionality is not supported. The closest that can be achieved is this: http://plnkr.co/edit/ki2TgX?p=preview (See the swap list demo)

[2017-03-07 15:11] #16 closed

[2017-03-07 15:50] toanqc commented on #13
I have a nested folder/file structure. I want to drag and drop a folder to another folder and file also is able to drag and drop into the folder. So in this case, the folder is both draggable and droppable.

[2017-03-08 10:48] #15 closed

[2017-03-10 09:30] #13 closed

[2017-03-10 09:38] ObaidUrRehman commented on #13
@toanqc, in the v1.2.0 release I have removed the `draggable=false` attribute on `droppable`. Now you can easily implement the required functionality.

[2017-03-14 05:45] ObaidUrRehman opened #22 "Feature: Add custom dragHelper functionality"
The `draggable` directive should take a `dragHelper` input that should be a `TemplateRef`. One should be able to define this in the markup:

    <div #myHelper>I am a custom DragHelper</div>

and be able to use it as custom dragHelper. We should also add a default `dragHandler` that should be a clone of the element since the current one sometimes becomes too transparent to provide a good visual fe

[2017-03-14 06:26] ObaidUrRehman opened #23 "Feature: Apply class on draggable if drop is not allowed"
This will serve as a visual cue to indicate that element cannot be dropped on it

[2017-03-14 07:19] shamim4063 opened #24 "Compilation Error in AOT build."
## Drag and Drop run and work correctly with JIT compilation But Its through following error in AOT compilation.

Error: Error encountered resolving symbol values statically. Reference to a local (non-exported) symbol 'Ng2DragDropModule'. Consider exporting the symbol (position 21:14 in the original .ts file), resolving symbol Ng2DragDropModule in /home/shamim/Boi2/boibazar/node_modules/ng2-drag-d

[2017-03-22 10:37] GerritK opened #27 "Highlight valid drop targets"
It would be nice if we can assign a class to all valid drop targets if drag is started. It brings more usability to the user.

[2017-03-22 10:51] GerritK opened #28 "dragOverClass assigned to non valid drop targets"
If I assign the `dragOverClass` to a draggable (and droppable) element it gets the class assigned at drag start and short after again removed. The draggable helper has now the `dragOverClass` style.

[2017-03-22 10:55] ObaidUrRehman commented on #28
@GerritK not sure if I understand. Can you show me a Plunkr demonstrating the issue?

[2017-03-22 12:36] GerritK commented on #28
http://plnkr.co/edit/xHKXxXwiH4YzMzSE9xtF?p=preview

If you start dragging one of the items, it gets the `dragOverClass` assigned.

[2017-03-26 04:40] nidhinmoh commented on #24
hello,

I am also facing the same issue, can anyone help me with this thank you..

[2017-03-26 11:42] ObaidUrRehman commented on #24
This is in progress but i am open to PRs as well.

[2017-03-27 16:00] Vinutha-BK commented on #24
I am getting same error in  JIT compilation also, after upgrading to angular v4.0.0

[2017-04-03 05:03] jiann4321 commented on #22
Need this functionality as well. Thanks!

[2017-04-05 18:14] miczed commented on #24
I am having the same issue with ng2-drag-drop `1.2.0` and angular-cli `1.0.0-beta.32.3`. Is there any hotfix we can do ourselves while we wait for a release?

[2017-04-06 09:42] ObaidUrRehman commented on #24
This is still a WIP.

[2017-04-06 11:22] ObaidUrRehman commented on #24
Added AOT support in v1.3.0.

[2017-04-07 15:38] filipefreitas82 opened #38 "Error compiling with angular version 4"
I'm getting this error after importing the module:

`ERROR in Error encountered resolving symbol values statically. Calling function 'makeDecorator', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol NgModule`

Using angular4.0.0 with angular cli 1.0.0

[2017-04-07 21:17] #24 closed

[2017-04-07 21:18] ObaidUrRehman commented on #38
Fixed in v1.4.0

[2017-04-07 21:18] #38 closed

[2017-04-10 01:41] kjiang99 opened #39 "How to know in which array dropped?"
I'm writing a dorm mgmt website using ang2.  It will show couple of rooms of a building on the right panel, and students on the left.   When I drag a student over to one of the rooms, how can I know which room it's dropped.

This drag and drop api is awesome, but it seems to need to know the array name of the droppable.  What if the droppable belongs to a parent array.  How can I know which room d

[2017-04-10 07:34] ObaidUrRehman commented on #39
In your case, the individual rooms would each be a `droppable`. Something like this:
[code]
Notice how I have passed both the `$event` and the `room`  to the `onDrop` handler.

The student would be `draggable` with some `dragData`:
[code]
Now when you drop a student over the room you'll have the data on the `onDrop` event of the droppable:

[code]

[2017-04-10 07:35] #39 closed

[2017-04-10 11:49] maouinati opened #40 "drag and drop don't work in fireFox"
drag and drop work fine in chrom and ie10 +, but in fireFox Ko

[2017-04-10 19:37] kjiang99 commented on #39
Perfect!!!  It works!!! Thanks a lot

[2017-04-10 19:45] kjiang99 commented on #39
I want to share what I did in demo:  http://dorm2.azurewebsites.net/AcadSession/1
I haven't done user mgmt, so it may interfere if mutliple people test at same time.

Click on the dorm such as 1st Floor Female at top.   The dorm rooms will show.

On the left panel is accordion menu.  Don't worry about Chinese.  Basically category by grade and class.

The students with name like (F): female, (B): B

[2017-04-11 07:24] #40 closed

[2017-04-11 07:45] ObaidUrRehman commented on #40
Fixed in v1.4.1

[2017-04-11 08:06] maouinati commented on #40
Thank you very much for your answer

2017-04-11 8:24 GMT+01:00 Obaid ur Rehman <notifications@github.com>:

[2017-04-13 04:45] rrohitesh opened #41 "Can we disable any droppable container"
Hello All,

Can we have an option to disable to non-selected droppable container. Let's say we have two droppable container and i want to allow drop only on the selected container. The other container which is not selected i want to disable the drop functionality.

[2017-04-13 05:29] ObaidUrRehman commented on #41
Your use case calls for a `droppable.disabled` property which when set to `false` disallows drops even for valid scopes.

[2017-04-13 05:32] rrohitesh commented on #41
U mean like this:

<div class="floor-selected" droppable.disabled = "false" [dragOverClass]="'drag-target-border-green-campus'" [dropScope]="'zone'"
           (onDrop)="onRoomSelected($event)">

</div>

[2017-04-13 05:37] ObaidUrRehman commented on #41
More like this:

`<div class="floor-selected" droppable
[disabled] = "true"
[dragOverClass]="'drag-target-border-green-campus'"
[dropScope]="'zone'" (onDrop)="onRoomSelected($event)">`

[2017-04-13 05:40] rrohitesh commented on #41
Tried this but getting this exception :Can't bind to 'disabled' since it isn't a known property of 'div'.

[2017-04-13 05:45] ObaidUrRehman commented on #41
@rrohitesh I'll add this property in the next release.

[2017-04-13 05:47] rrohitesh commented on #41
many thanks. But, as of now there is no way to disable it? Because, already i have implemented this and at this point only i am facing challenge.

[2017-04-13 08:39] ObaidUrRehman commented on #23
Closing this fow as I see no use case for this atm

[2017-04-13 08:39] #23 closed

[2017-04-17 12:01] #41 closed

[2017-04-17 12:19] ObaidUrRehman commented on #27
Added in v1.5.0

[2017-04-17 12:19] #27 closed

[2017-04-17 12:21] ObaidUrRehman commented on #22
In v 1.5.0 Added `dragImage` input to the `draggable` directive that takes image Url that is set when the item is being dragged. Later will expand this to custom elements. Closing this for now.

[2017-04-17 12:21] #22 closed

[2017-04-17 12:21] ObaidUrRehman commented on #41
Added in v1.5.0

[2017-04-18 05:51] rrohitesh opened #42 "How to disable drag (draggable = false or true)"
Hello,

I want to set draggable to false or true based on some condition can i be done?

[code]

[2017-04-18 06:07] ObaidUrRehman commented on #42
Use the `dragEnabled` property.

[2017-04-18 06:08] #42 closed

[2017-04-18 06:15] rrohitesh commented on #42
U mean like this?

[code]

[2017-04-18 06:21] ObaidUrRehman commented on #42
`dragEnabled` is an Input property on the `draggable` directive so you should use it like this:
[code]

[2017-04-18 13:24] amdefran opened #43 "Droppable unsubscribed and fails on subsequent calls to page"
When I leave and enter a page multiple times, I am getting an object unsubscribed error from the droppable directive.  The usage looks like:

`<div class="empty-document-view-item"
        droppable
        (onDrop)="onItemDrop($event)">
        Drag and drop documents here to create summary.
</div>`

The error I am seeing is:

`ERROR Error: Uncaught (in promise): ObjectUnsubscribedError: object u

[2017-04-19 03:46] rrohitesh commented on #43
Hi Obaid,

I am also getting the same error when i visit the particular page and without doing any operation if i leave the page i am getting

[code]

But, if i am doing some operation i.e drag and drop on the container and then navigating from the page and visiting again is not causing any problem.

[2017-04-19 06:16] #43 closed

[2017-04-19 06:36] ObaidUrRehman commented on #43
Thanks for pointing this one out guys.
Fixed in v1.5.1

[2017-04-19 07:48] rrohitesh commented on #43
Thank you very much for you fast response :) i really appreciate it :+1:

[2017-04-19 12:51] amdefran commented on #43
Wow, that was fast.  Thank you for fixing so quickly.  Also, I would like to add that I love this package, it is very clean and well designed.

[2017-04-20 03:59] pratapgowda007 opened #44 "Items are not visible properly while dragging in certain resolutions"
Items which I'm dragging are not visible properly in big screens. Even I noticed the same problem in your plunker example.

In your plunker I did below steps

Step 1: Click launch the preview in a separate window
--> full screen window will open

Step2: Now drag an item from the list and notice dragged item is not visible properly.

Even I'm facing the same issue in my current project also where I

[2017-04-20 08:26] rrohitesh opened #45 "CSS is not working in large display screen"
Hi Obaid,

I found the when we are trying to drag the element then the dashed box will be visible around the dragged element also we can see the element shadow which is dragged.

But, i large display its not working only the box is visible artificially. I don't know whether this is a bug or not but i found it is happening in the plunker example also.

[2017-04-20 09:00] ObaidUrRehman commented on #44
This component uses HTML5 drag drop feature to accomplish what it does and the default drag behaviour is to show a semi-transparent ghost clone of the element being dragged. It's something that is not customizable.  On top of that, the behaviour is browser dependent. On Microsoft Edge, it'll shows a clone of the element without opacity.

There is a `dragImage` property on the `draggable` directive

[2017-04-20 09:10] ObaidUrRehman commented on #45
Possible clone of #44.

[2017-04-21 04:13] #45 closed

[2017-04-25 10:05] axtho commented on #12
For when is that planned? The library is (for me) currently not useable without this. The problem is exemplified with your plunker example ... when you drag to sort it updates the other container.

[2017-04-25 10:06] axtho opened #47 "Touch enabled"
It would be great to have this library touch screen enabled (use swipes for drag and drop). Any plan for this?

[2017-04-25 19:05] ObaidUrRehman commented on #47
Planned for v2.0. Hopefully soon.

[2017-04-27 08:29] cynhong opened #48 "DragImage to be string/label ?"
Hi, is there any way where I can customize the dragImage to show a custom string? For example if I drag "item A", i want to show "Dragging item A" and if I drag "item B", i want to show "Dragging item B"?
Other than custom string, can i customize how the dragImage looks like using html controls like div, label, etc?

[2017-05-04 19:24] vgogov opened #50 "Droppable not working between different components."
Is it possible to drag and drop items from different components? I'am able to fire off an OnDragStart event. But when I drop the item into the droppable area it doesn't fire off the onDrop event.

Example: I'm trying this in the [ng2-Admin project](http://akveo.com/ng2-admin/#/pages/dashboard) where my items that are draggable are in the blue dashboard area and my droppable area is the black sideb

[2017-05-05 07:20] ObaidUrRehman commented on #50
This should work just fine even if you have draggables and droppables in different components. Where is your `onDrop` handler? Can you reproduce this in a Plunkr example? Use this one as a starting point: http://plnkr.co/edit/2bjGgzWnbFrciEiCKLew?p=preview

[2017-05-05 16:09] vgogov commented on #50
Hi @ObaidUrRehman thanks for the reply. It's kind of hard to replicate in Plunkr. But basically in that ng2-Admin project in the [dashboard.html](https://github.com/akveo/ng2-admin/blob/master/src/app/pages/dashboard/dashboard.html). I added the line a the top:

`  <div draggable (onDragStart)="onDrag()"><h3>DRAG ME </h3></div> `

The in the [dashboard.component.ts](https://github.com/akveo/ng2-ad

[2017-05-12 07:15] ObaidUrRehman commented on #50
@vgogov In which module did you import the `Ng2DragDrop` module? I imported and added it to the module in `app\theme\nga.module.ts` module and it seems to work just fine.

[2017-05-16 18:21] vgogov commented on #50
Alright sweet! I've looking at it for a bit and no luck so far. Tell me if you find anything. Thanks!

[2017-05-19 09:19] ObaidUrRehman commented on #47
I think I'll defer this for a later version maybe, since this component uses native Html5 drag drop feature and it's not supported on touch based UI.

I'll need to change the implementation and write a complete drag drop feature from scratch (or probably add dependency to other library)

There is a polyfill for drag drop on touch devices: https://github.com/Bernardo-Castilho/dragdroptouch. Probabl

[2017-05-19 18:15] #28 closed

[2017-05-24 12:53] mubashirhanif commented on #50
@vgogov I think the problem is with `dropScope` if you want to enable cross components drops you need to put the source scope name in the dropScope of the target. for example I forked @ObaidUrRehman plunk to [this](http://plnkr.co/edit/tFsCJcwMDtQ80lV42Imd?p=preview) and now you can drop elements in the delete droppable.

[2017-05-24 12:57] mubashirhanif commented on #50
@vgogov but cross component the source object becomes sort of `immutable`. Haven't had a chance to look into it further.

[2017-05-24 14:47] vgogov commented on #50
@mubashirhanif Hmm, I tried that but doesn't work. One way I can get it to work is If I use (onDragEnter) I can fire off event, it's not a pretty solution. Still trying to figure out why (onDrop) doesn't work. Interestingly (onDragOver) does not work either, only (onDragEnter) works -.-'.

[2017-05-25 10:21] rrohitesh opened #54 "Is there any plant to support multiple items to drag at once."
Hello Obaid,

Is there any plan to implement the multiple select for drag item.

[2017-05-26 12:56] vkadi-tcs commented on #7
Above plnkr link is not loading properly,
Can any one tell me how to implement multiple selection drag and drop using **"ng2-drag-drop"**

[2017-05-27 00:40] DingWeizhe opened #55 "Drag text will duplicate last item."
https://nimbus.everhelper.me/client/notes/share/935835/8ec29umtphd0h9f48vx3

[2017-05-27 09:35] #55 closed

[2017-05-27 09:54] ObaidUrRehman commented on #7
@vkadi-tcs that's an old plunker. See the latest one: http://plnkr.co/edit/2bjGgzWnbFrciEiCKLew?p=preview
Multiple selection drag drop feature is under consideration.

[2017-05-30 17:57] calebeaires commented on #12
Here is the next big feature. I`m waiting for it!

[2017-06-02 01:58] idoor88 opened #59 "Demo is using angular2.4.0, not angular4.0.0"
I am new to Angular, the ng2-drag-drop is using angular 4.0.0, but the demo is using angular 2.4.0, would you please upgrade the demo to angular 4.0.0?

Also another newbie question, after I build the ng2-drag-drop, how do I use it in a separate angular project? like in java, I can build something into a jar file, then I can drop the jar file to a separate project and import it there, how does it

[2017-06-02 09:24] ObaidUrRehman commented on #59
@idoor88 this component works in both angular 2 & 4. I'll update the demo to 4.0.0 soon.

I am not sure I quite understand the second part of your question but you can can't use this in Java.

[2017-06-02 13:59] idoor88 commented on #59
I meant after I build ng2-drag-drop, do I get a library file, which I can include in my own angular web project?
Thanks

[2017-06-02 14:36] idoor88 commented on #59
Got it.

[2017-06-02 14:36] #59 closed

[2017-06-02 15:54] idoor88 opened #60 "Error: Template parse errors: 'drag-helper' is not a known element:"
Hi all,
I am trying to use ng2-drag-drop in my angular 4 project, I copied the whole folder of drag-help of the demo project to my project and added <drag-helper></drag-helper> to my app.component.html, drag-helper.component.ts has selector: 'drag-helper', but after I build and start ng server, in my browser, I got this error:

Error: Template parse errors:
'drag-helper' is not a known element:
1.

[2017-06-02 19:20] idoor88 commented on #60
Got it working, sorry to bother.
Thanks

[2017-06-02 19:20] #60 closed

[2017-06-06 12:38] calebeaires commented on #12
@ObaidUrRehman  - I see that there is an package with sortable feature (feat/package)! Is there some roadmap to its merge with the master branch?

[2017-06-06 12:57] ObaidUrRehman commented on #12
@calebeaires we are actively working on it. See #58 . Expect a week or so before we merge it to master and do a release.

[2017-06-07 13:03] JanEggers commented on #12
will this feature include dropping stuff from another element on an ordered list at a specific index or is that another feature request?

[2017-06-07 19:32] ObaidUrRehman commented on #12
@JanEggers, something like multi-list sortable where you could sort and drop items from more than one list? This feature will also be included.

[2017-06-09 13:39] choeller commented on #50
@ObaidUrRehman Any news about this? We are trying to use your Module in our project but we are also experiencing problems when trying to do cross-module drag-drop

[2017-06-10 02:22] seiyria opened #62 "is it possible to have a singular call that determines scopes when an item is picked up?"
Right now I have to bind a lot of dragscopes - it would be much easier if I could pick up the draggable and determine the scope at that point, as it's dynamic and can be costly to compute.

[2017-06-10 02:41] seiyria commented on #62
nevermind, I squared this away relatively easily. I must have been doing something wrong before.

[2017-06-10 02:41] #62 closed

[2017-06-11 21:51] simonmicheal opened #64 "Is it possible for nested components ?"

[2017-06-13 05:16] ObaidUrRehman commented on #64
Can you provide an example of how you want to use it in a nested scenario?

[2017-06-13 13:32] ObaidUrRehman commented on #50
@choeller, this has been fixed, See #61. Need to merge it to master. Expect a few days for the v3.0.0. If its really urgent let me know.

[2017-06-13 22:34] fmjnax opened #65 "'draggable' doesn't disable"
I have a draggable div (that is actually images)

     <div draggable *ngFor="let card of player.cardHand" [dragData]="card" class="drag-div">
       <img src="{{cardBluePath + card.fileName}}" class="dragged">
     </div>

They can be dropped on to any of 9 available div's (slots), which populates the droppedItems list (and uses a pipe to filter the object based on the slot

            <div clas

[2017-06-15 16:58] boldwade commented on #65
It would be nice if the draggable host property was configurable instead of always being set to 'true'.
Would you consider the following instead of the current 'Host' binding defined in the @directive annotation:
@HostBinding('draggable') @Input() isDraggable: boolean;

[2017-06-22 02:09] seiyria opened #66 "dragImage - what if I have a spritesheet?"
In my case, I use a big spritesheet of images for my drag and drop items. You can move them from one grid to another. If I drag/drop them, the resulting placeholder image is the WHOLE spritesheet - is it possible to make it just the current image (or maybe copy the div that it's in and use that to drag)?

[2017-06-23 05:40] seigneur opened #67 "Uncaught ReferenceError: exports is not defined"
I am using ng2-drag-drop@2.0.1
My index.js looks as follows:

"use strict";
**Object.defineProperty(exports, "__esModule", { value: true });**
var ng2_drag_drop_module_1 = require("./src/ng2-drag-drop.module");
exports.Ng2DragDropModule = ng2_drag_drop_module_1.Ng2DragDropModule;
//# sourceMappingURL=index.js.map

The bold line causes the issue, from some initial research I suppose this is a [type

[2017-06-23 07:13] ObaidUrRehman commented on #66
@seiyria I am not sure if I understand your requirement. Are you using the image sprite as `dragImage` source and want to use one image from it?

btw, you can totally not use the `dragImage` and the default behaviour would show the ghost image of the dragged image.

[2017-06-23 13:06] seiyria commented on #66
Yeah, it's hard to reproduce but here's a bit better of a desc. In my project, I have a spritesheet that contains all of my assets [here](https://github.com/seiyria/landoftherair/blob/master/src/client/assets/items.png).

A screenshot of the ui here: http://i.imgur.com/2TwjMiE.png

Items are added using object-fit and object/position to get it in the right spot.

You can see that each item display

[2017-07-10 14:42] OutOfNutella opened #69 "Error in ngOnDestroy() method of Droppable directive while doing unit test"
Hello,

I'm using your excellent ng2-drag-drop module in an application.
Today I started to create some tests in my Angular 2 app.

I have a panel which is draggable from a left sidebar to the main panel is the center.

But, when it comes to test my component containing droppable div, the command "ng test" try to run the default test "should create" of my component and it stopped with the followin

[2017-07-17 14:22] cah-alexsukhodolsky commented on #12
I'm very excited to start using this library since it's much more redux-friendly than dragula--but the sorting feature is a requirement for my tool.
Any idea when the sort branch will be merged into the master branch?
Thanks!

[2017-07-18 11:59] ObaidUrRehman commented on #65
@fmjnax there is no `[draggable]=false` input to the draggable. Instead there is a `[dragEnabled]` property that must be set.
@boldwade thanks for your input. I've made that change.

[2017-07-18 14:19] #65 closed

[2017-07-18 14:45] ObaidUrRehman commented on #12
Unfortunately the feature has some issues that I am currently looking into. Now that I am back after one month hiatus, this should not take long.
I am looking for contributors, so if you guys could contribute that would be great!

[2017-07-18 14:46] ObaidUrRehman commented on #50
Fixed in v2.5.0

[2017-07-18 14:47] #50 closed

[2017-07-20 17:30] cah-alexsukhodolsky commented on #12
@ObaidUrRehman I can contribute. How'r you running the demo? I've cloned and switched to your 'feat/sortable' branch but no amount of `npm install`, `npm build`, `npm run dev`, updating versions, etc has gotten the demo to run. It looks like the package.json under demo is referencing the `latest` version but it should probably reference the latest local package/build (though I'm not seeing any gen

[2017-07-20 17:45] ObaidUrRehman commented on #12
This feat branch is a bit behind. Can you try and merge master to this
branch. I've added dev flow scripts to master only. The instructions to
start dev flow is in the readme.md on master.

On 20 Jul 2017 10:30 p.m., "cah-alexsukhodolsky" <notifications@github.com>
wrote:

[2017-07-21 11:28] gana280992 opened #70 "Replace instead of sorting"
Dear ObaidUrRehman,

I have a requirement to replace the rows instead of sorting in an order. Am i doing a component which is  for mapping while drag and drop it changes the order instead of replacing the index. Kindly help me it is possible to replace the item index instead of sorting.

[2017-07-31 17:48] GiselleSerate opened #73 "Plunker has no items"
I'm trying to use your Plunker demo and there are no items populated to drag or drop. I've tried this on multiple browsers (Chrome, Safari) and it doesn't seem that it works on any of them. The code seems to indicate that, for example, the vegetable array exists and is trying to populate into the first draggable field. However, even when I put extra dummy text into the li element, no elements disp

[2017-08-01 07:46] ObaidUrRehman commented on #73
The demo was out of date. This has been fixed.
Thanks for reporting.

http://plnkr.co/edit/2bjGgzWnbFrciEiCKLew?p=preview

[2017-08-01 07:46] #73 closed

[2017-08-07 15:31] cah-alexsukhodolsky commented on #12
@ObaidUrRehman I finally have some time to help out with the sortable branch. Do you have a backlog of issues?

[2017-08-08 12:04] ObaidUrRehman opened #75 "Sortable: Items duplicate when being reordered"
This is a bit tricky to reproduce.

The sortable directive duplicates item in the list when being re-ordered. It's a bit tricky to reproduce but if items are repeatedly re-ordered in succession it will end with duplicate items in the list.

Some thing like this:

![duplicate](https://user-images.githubusercontent.com/1729964/29071101-92663dae-7c5b-11e7-99cb-a7f1e13191eb.PNG)

I can't seem to figur

[2017-08-08 12:07] ObaidUrRehman opened #76 "Sortable: Restrict multi list re-order by default"
The sortable directive must be single list sortable by default unless configured i.e. Items should be re-orderable with the list only. Right now this is not the default behavior.

Kinda like scopes. Not sure how we should approach this. I am open to ideas.

[2017-08-08 12:11] ObaidUrRehman opened #77 "Sortable: Multi list sorting bug"
Item does not get removed from the list when sorted between multiple lists. See below:

![multilist-sorable-bug](https://user-images.githubusercontent.com/1729964/29071356-a3a1eaa4-7c5c-11e7-9aa4-b98ecc42a28d.gif)

[2017-08-08 12:18] ObaidUrRehman commented on #12
@cah-alexsukhodolsky Please see all issues labeled with [sortable](https://github.com/ObaidUrRehman/ng2-drag-drop/issues?q=is%3Aissue+is%3Aopen+label%3Asortable). Thanks.

[2017-08-08 12:24] ObaidUrRehman opened #78 "Stop using npm prepublish since its deprecated"
Please see this: http://blog.lholmquist.org/npm-prepublish-changes/

[2017-08-08 15:06] cah-alexsukhodolsky commented on #77
@ObaidUrRehman I'm unable to reproduce this in chrome, firefox or safari (all latest versions) on my mac. Can you please specify which browser and OS you're experiencing this on?

[2017-08-08 22:10] scottmcmaster opened #79 "Feature request: dropScope function"
It would be great if we could attach a function to dropScope or equivalent, which would get to examine the dragData and determine dynamically if a drop should be allowed.

[2017-08-09 07:31] ObaidUrRehman commented on #77
I am using Chrome Version 60.0.3112.90 on Window. I'll see if I can come up with steps to reproduce this.

[2017-08-16 14:32] cah-alexsukhodolsky commented on #77
I started looking into this and I'm able to reproduce it in Windows. This is most likely caused by a race condition. What would you think about queueing up any dom changes and performing them one at a time?

[2017-08-17 05:44] #78 closed

[2017-08-17 05:44] #79 closed

[2017-08-17 11:19] ObaidUrRehman commented on #77
If this is a race condition, then it comes up too often. I am trying to come up with steps to reproduce. Can you elaborate a bit on how we can queue up DOM changes?

[2017-08-21 06:53] ObaidUrRehman commented on #79
Added in v2.6.0

[2017-08-22 18:11] cah-alexsukhodolsky commented on #77
sorry...been off the radar the last few days. I'll look into the problem and solution this week.

[2017-08-23 08:49] mateenQureshi opened #80 "Error: Uncaught (in promise): Error: No provider for Ng2DragDropService!"
I am using ng2-drag-drop package in my angular 4 app, i have deployed to staging, the package works fine, but yesterday i deployed it live and started getting the error:
**Error: Uncaught (in promise): Error: No provider for Ng2DragDropService!**

can you please help me to get out of this ASAP
Thanks,
Looking Forward

[2017-08-23 09:10] ObaidUrRehman commented on #80
your prod build using AOT?

[2017-08-23 09:30] mateenQureshi commented on #80
yes

[2017-08-23 10:10] ObaidUrRehman commented on #80
No, let me look into this.

[2017-08-23 14:49] dawnofthedev commented on #80
For us, after Angular upgrade we had to import in app module and call forRoot()

[2017-08-23 20:03] calebeaires commented on #12
@cah-alexsukhodolsky Is there some news about the cool sortable feature?

[2017-08-27 13:17] robmeredith opened #81 "Add Universal support"
Version: 2.6.0
Angular 4.3.5
AngularCli: 1.4.0-rc.1

When running on universal I get the following error

[code]

[2017-08-28 04:46] ObaidUrRehman commented on #80
@mateenQureshi did calling `forRoot()` solve your problem?

[2017-08-28 10:16] mateenQureshi commented on #80
No, actually without calling forRoot() fixes my issue during building, but when I navigate to the app, the component which is using ng2-drag-drop breaks the app by throwing the above exception (ref: title of the issue)

[2017-08-28 10:16] mateenQureshi commented on #80
Let me know if u need any further details
Thank You

[2017-08-28 12:46] vishalvpv opened #82 "Drag and drop from parent app to child app in iframe"
We are not able to get drag and drop to work from parent app to child app in iframe. Is this supported?

Best Regards,
Vishal

[2017-08-30 22:24] tauil opened #85 "It does not work with SVG"
The drag and drop doesn't work properly if you drop in a svg. Sometimes you can drop, but mostly not.

[2017-08-31 06:43] ObaidUrRehman commented on #85
@tauil can you possibly reproduce this in a plunkr demo?

[2017-08-31 13:46] tauil commented on #85
Yeah, sure. I'll do that and post her soon. From what I've research that's a problem of HTML5 Drag and Drop, but I'll reproduce it anyway.

[2017-08-31 16:30] tauil commented on #85
Turns out that it was a bug on my Chrome. I tried on Firefox and worked fine. After rebooting my Chrome it started working again. Not sure yet what is causing it to stop working but I'll keep an eye on it.

[2017-09-01 10:29] rrohitesh opened #86 "Drag and Drop Taking More time for large set of data"
Hello Obaid,

I am using this library from past 6 month and till now it's very good. But, as my application is growing with huge data sets then drag and drop is taking too much time. Lets say i have 2000 item in a list to drag any item from list and drop it to some area its taking 20-30 seconds, can you suggest what to do in this case?

[2017-09-02 19:38] calebeaires opened #87 "Different CSS to the draggable element while in transit"
[x] feature request

On some apps we use dragging to transform an element into another. dragClass apply CSS to the element that is being dragglabe and the element in transit. It would be great if whe could apply CSS to both separately. On this way, the css in the element dragabled is different from the element in transit.

[2017-09-05 13:29] ObaidUrRehman commented on #86
@rrohitesh any chance you can reproduce this in Plunkr?

[2017-09-06 11:52] Sypher1987 opened #89 "Drag handle intermittently not working"
I have come across an issue with the drag handles, because the current target that is used for the drag handles is updated on mouseover and the drag start requires movement of the mouse to initiate sometimes it does not work. The tracked current target can get updated when the mouse moves off the drag handle before the drag star event fires. This can be seen on the plunkr demo if you click and dra

[2017-09-06 12:15] Sypher1987 commented on #86
This is also an issue i have hit with it, i have done some investigation and found the source of the issue in my case, probably the same issue for rrohitesh.

Because angular uses zone.js for its change detection it will re run a full change detection cycle when any dom event fires, this becomes a problem with large amounts of draggables, in my case it was with a list of 200 draggables that use an

[2017-09-06 16:03] cah-alexsukhodolsky commented on #77
@ObaidUrRehman Did you find my changes fixed the issue? Were you able to reproduce this bug?

[2017-09-06 17:37] ObaidUrRehman commented on #77
@cah-alexsukhodolsky I am pretty slammed nowadays. Give me a few days and I will get back to you on this.

[2017-09-07 07:09] Sypher1987 commented on #86
This Plunkr should show the issue;
http://plnkr.co/edit/bJG679H1G0pzf3PMvUuX?p=preview

[2017-09-07 20:13] Azayzel opened #90 "Lowest version of Angular"
What is the lowest version of Angukar that is supported? I seem to be getting "Object doesn't support property or method 'map'". I've been trying to hunt this down with no luck. This package works perfect on my Angular 4 app but not my Angular 2. Any ideas?

[2017-09-07 20:20] Azayzel commented on #90
Found my answer

[2017-09-07 20:20] Azayzel commented on #90
Re-opening to track "map" issue.

[2017-09-08 04:28] ObaidUrRehman commented on #90
@Azayzel I haven't used [.map()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map) anywhere in the source (only in the demo). Can you possibly provide the stack trace of the error. Btw, whats the exact version of Angular 2 that you are using.

Theoretically, this component works with Angular 2.0.0 but after recent changes, I need to test & validate this.

[2017-09-08 08:34] Gab-Metzger-Melpia opened #91 "Drag a single element multiple times"
Hi guys, just wondering if it's possible to drag one element multiple times in different drop zones ?
I'm trying to build a bucketing system with a list of elements and multiple buckets. And I have an option with the possibility to add an element in multiple bucket. To do so I need the element not being deleted from the list when dropped on a bucket.

By the way, awesome library, thanks!! 😃

[2017-09-08 09:35] Azayzel commented on #90
I am using 2.4.3 right now. But, oddly enough it seems to be an issue with ng2-drag-drop. When I exclude that module the program starts up just fine. Closing this and going to look into issue with that package.

[2017-09-08 09:35] #90 closed

[2017-09-08 11:14] ObaidUrRehman commented on #91
Yes, this is possible. Its completely up to you if you want to remove the item from the drag source list or not. ng2-drag-drop does not manage data, it's your responsibility.

See this plunkr: http://plnkr.co/edit/b2R78FxvxdAWV0VHVywy?p=preview. Notice how you can drag and drop items to different list and the item is not removed from the drag list.

[2017-09-08 12:15] Gab-Metzger-Melpia commented on #91
Got it, that's awesome! Thanks :)

[2017-09-08 12:15] #91 closed

[2017-09-12 05:02] gravisrinivas opened #92 "Multiselect item feature in angular4 drag and drop"
I am working on angular4 and i have a requirement whether I need to implement the drag and drop feature with multiple items selected. I have used ng2-drag-drop and dragula , but these allow to drag and drop a single item . Is there any way i implement drag and drop in angular4 with multi item select feature.

[2017-09-12 06:45] Gab-Metzger-Melpia commented on #92
Is your requirement related to this issue #54 ?

[2017-09-12 07:30] gravisrinivas commented on #92
yes

[2017-09-13 04:36] gravisrinivas commented on #54
Any plans on implementing this is near future ?

[2017-09-13 06:03] ObaidUrRehman commented on #54
Yes absolutely, this is planned for future after the sortable feat.

[2017-09-13 06:05] ObaidUrRehman opened #93 "Change name to ng-drag-drop"
Since this package no longer targets ~~just~~ Angular 2.0 it's about time its changed to ng-drag-drop.

- [x] Build v 3.0.2 as final release with support for Angular 2. Add note in readme.md about deprecation and package rename.
- [x] Use npm deprecate to add warning
- [x] Update package name in `package.json`
- [x] Update name in code + doc + sample
- [x] Rename repo on github
- [x] Update travis

[2017-09-13 06:58] gravisrinivas commented on #54
Is there any estimated period like 4months or 6 months?

[2017-09-13 07:26] ObaidUrRehman commented on #92
Closing as duplicate of #54

[2017-09-13 07:26] #92 closed

[2017-09-13 07:27] ObaidUrRehman commented on #64
Closing because of inactivity

[2017-09-13 07:27] #64 closed

[2017-09-13 08:55] Sypher1987 commented on #86
I have created a pull request with my fix for this issue #94

[2017-09-13 10:33] ObaidUrRehman commented on #87
@calebeaires the implementation is Kludgy at best. There may be side effects to this so I'll need feedback from you on this. There is a new input to the `draggable` directive called `dragTransitClass`.

[2017-09-13 11:23] #87 closed

[2017-09-13 11:27] ObaidUrRehman commented on #89
Fixed in v2.7.0

[2017-09-13 11:27] #89 closed

[2017-09-13 11:54] ObaidUrRehman commented on #86
Thanks, @Sypher1987, I'll take a look.

[2017-09-13 12:30] ObaidUrRehman commented on #87
Added in v2.7.0

[2017-09-13 16:21] MarkKewley opened #95 "ERROR in Error: Unexpected value 'Draggable in ./node_modules/ng2-drag-drop/src/directives/draggable.directive.d.ts' declared by the module 'Ng2DragDropModule in ./node_modules/ng2-drag-drop/src/ng2-drag-drop.module.d.ts'. Please add a @Pipe/@Directive/@Component annotation."
Seems to have just showed up with our recent build using angluar-cli:
e.g.:
`ng build --prod`

`ERROR in Error: Unexpected value 'Draggable in ./node_modules/ng2-drag-drop/src/directives/draggable.directive.d.ts' declared by the module 'Ng2DragDropModule in ./node_modules/ng2-drag-drop/src/ng2-drag-drop.module.d.ts'. Please add a @Pipe/@Directive/@Component annotation.
    at Error (native)
    at

[2017-09-13 16:37] ObaidUrRehman commented on #95
@MarkKewley what version of Angular/CLI are you using?

[2017-09-13 16:44] MarkKewley commented on #95
1.4.1 it looks like

[2017-09-13 20:36] calebeaires commented on #87
@ObaidUrRehman thanks for everthing! now the only thing I am waiting for is the sort feature!

[2017-09-14 10:37] ObaidUrRehman commented on #95
Fixed in v2.8.0. It was a build issue.
Sorry for the inconvenience.

[2017-09-14 10:37] #95 closed

[2017-09-14 13:22] MarkKewley commented on #95
Thanks Obaid, just verified appears to work now

[2017-09-19 06:58] #86 closed

[2017-09-19 10:37] ObaidUrRehman opened #96 "Drop Support for Angular 2"
Before #93, we have to drop support for Angular2. Lets target Angular 4 and beyond.

Code Changes:

- [x] update package.json
- [ ] use Renderer2 instead of Renderer.

[2017-09-19 19:24] ObaidUrRehman commented on #86
Thanks for the fix @Sypher1987 . Much appreciated.
Fixed in v2.9.1.

[2017-09-22 09:18] #67 closed

[2017-09-22 09:18] seigneur commented on #67
I was adding the index.js file via my angular cli ,  I think to support an older version, removing it & upgrading fixed the issue.

[2017-09-25 15:21] cah-alexsukhodolsky commented on #77
@ObaidUrRehman any update on this?

[2017-09-26 13:34] akagr opened #97 "Add support for async dropScope function"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] other

* **What is the current behavior?**
Right now, the `dropScope` has to be defined synchronously. If it's a function, it has to return true or false.

* **What is the expected behavior?**
I propose we allow the dropScope to be set to a function that returns an observable. That observable may then resolve to true or false. This

[2017-10-01 18:39] seiyria commented on #80
I had this same problem (I was using 2.0.2, then noticed my most recent update broke when I pushed and it deployed). I upgraded to 2.9.2 and called .forRoot.

[2017-10-04 05:16] ObaidUrRehman commented on #97
@akagr LGTM, the `dropScope` is already defined as `string | Array<string> | Function` so adding an `Observable` shouldn't be an issue.

Looking forward to your PR.
:+1:

[2017-10-05 07:47] akagr commented on #97
@ObaidUrRehman Great thanks! Will try to get to it this weekend 😄

[2017-10-10 21:33] rui-cruz opened #99 "Proxy native files drop"
Feature request:

When I drop a native file, dragData is undefined, is there a chance to somehow dispatch a "DropNativeEvent" or a nativeFile(s) array property?

Thank you!

[2017-10-11 09:32] ObaidUrRehman commented on #77
@cah-alexsukhodolsky sorry for the delay on this.

I've tested this and unfortunately, it still occurs. I don't have the steps to reproduce this but dragging items back and forth repeatedly causes this issue.

[2017-10-11 18:48] amperboy opened #100 "Can't hide drag-handle icon"
I can't hide drag-handle icon when using *ngIf

The querySelector will not find an element with dragHandle Class:
https://github.com/ObaidUrRehman/ng2-drag-drop/blob/968ebbac52747c73b54f21bf09eea48322670e10/src/directives/draggable.directive.ts#L210

"ng2-drag-drop": "^2.9.2",

dragElement will be null here:
https://github.com/ObaidUrRehman/ng2-drag-drop/blob/968ebbac52747c73b54f21bf09eea48322670e

[2017-10-12 06:42] ObaidUrRehman commented on #100
@amperboy you are hiding the drag handle element instead of using the `dragEnabled` property on the draggable element. Setting this property sets/removes the drag handle cursor on the drag element.

Anyway, this is a bug and needs to be fixed. It shouldn't throw an error if the element is not found.

[2017-10-12 06:50] amperboy commented on #100
@ObaidUrRehman I also use dragEnabled Attribute to disable the dragability. But my stakeholder also want to hide the icon when dragging a component is disabled. As workaround I'm using the [hidden] directive.

[2017-10-12 06:52] ObaidUrRehman commented on #100
Ok, I understand your use case. Will fix

On Thu, Oct 12, 2017 at 11:50 AM, Marco <notifications@github.com> wrote:

[2017-10-14 16:30] AmitBisht14 opened #101 "Drag drop not working on any mobile browser"
Have deployed the application on below URL:
http://ec2-18-220-151-90.us-east-2.compute.amazonaws.com/

It is working fine in desktop browser but not it is not working on any mobile browser, or Windows 10 touch device. You can check this in gameplay section from above url.

Also if you check the provided plunker demo that is also not working with mobile device

[2017-10-14 23:49] rui-cruz commented on #99
not possible?

[2017-10-19 10:10] ObaidUrRehman commented on #99
@rui-cruz, how are you able to trigger the drop on draggable with a file? I can't drop a file from desktop to the draggable directive.

[2017-10-19 10:14] ObaidUrRehman commented on #85
Closing due to inactivity.

[2017-10-19 10:14] #85 closed

[2017-10-19 10:19] ObaidUrRehman commented on #101
@AmitBisht14, this is a limitation. The Html drag drop Api does not work on Touch.
See this: https://github.com/ObaidUrRehman/ng2-drag-drop/issues/47#issuecomment-302653094

[2017-10-19 10:19] #101 closed

[2017-10-19 10:39] #100 closed

[2017-10-19 12:49] ObaidUrRehman commented on #97
Added in v3.0.1

[2017-10-19 12:49] #97 closed

[2017-10-19 12:50] ObaidUrRehman commented on #100
Fixed in v3.0.1

[2017-10-24 10:10] #96 closed

[2017-10-24 10:32] #93 closed

[2017-11-20 04:46] vancancode opened #108 "StaticInjectorError using ng-drag-drop on Ionic3/Angular 5 project."
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x ] other

I'm trying to use ng-drag-drop for my Ionic3/Angular5 project.
But I am experiencing this error below.

Uncaught (in promise): Error: StaticInjectorError[NgDragDropService]:
  StaticInjectorError[NgDragDropService]:
    NullInjectorError: No provider for NgDragDropService!

I'm

[2017-11-20 04:48] ObaidUrRehman commented on #108
Can you try importing the Module with `.forRoot()` like this:

[code]

[2017-11-20 05:15] vancancode commented on #108
Thanks. That solves it.

[2017-11-20 09:13] #108 closed

[2017-11-21 02:37] vancancode opened #109 "[dropEnabled]=false still accept the draggable object on iPad"
Please remove sections that are not required.

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**
[dropEnabled] is not working on iPad. (Works perfectly fine on web)
Even if it set to false the droppable zone always accept the draggable object.

The [dragHintClass] & [dragOverClass] will not work as expected but once you drop the draggable

[2017-12-18 07:47] Usamanawaz commented on #54
@gravisrinivas  You can do this simply by sending a list as drag data and every time you click on an item it is added to the list.

[2017-12-23 00:47] gravisrinivas commented on #54
@Usamanawaz : If i am collecting the items in a list individually , then how is it a multiple drag and drop . I should be able to select multiple items. Collecting individual item was never the question

[2017-12-30 16:48] andreialecu commented on #47
I've been using https://github.com/timruffles/ios-html5-drag-drop-shim with great success.

The only remaining issue is:
https://github.com/ObaidUrRehman/ng-drag-drop/pull/112

[2018-01-17 10:40] dleric opened #115 "Class drag-border doesn't disappear on fast drag and drop"
Please remove sections that are not required.

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**
In the situation when I have multiple draggable and droppable elements, the class drag-border doesn't disappear when I'm dragging and dropping the elements very quickly.

* **If the current behavior is a bug, please provide the steps to reprodu

[2018-01-24 14:27] Jeff-Clark-MST opened #117 "White flickering/boxes when Dragging n Dropping"
* **I'm submitting a ...**
[x ] bug report

* **What is the current behavior?**
_sometimes_ when dragging/dropping my page shows white flickering and/or white boxes either behind or near the drop item. These white backgrounds/boxes are random in size, sometimes small, sometimes half the size of the page. These also appear in a random z-index order. always behind the droppable element but sometimes

[2018-02-04 17:42] calebeaires commented on #76
Hi @ObaidUrRehman, @cah-alexsukhodolsky

Our team has been waiting to the sortable/re-orderable feature for so long. We hope it is still on the early/next release. Thanks again to this great work.

Congrats

[2018-02-04 17:45] ObaidUrRehman commented on #76
@calebeaires I've been busy lately. But I am going to restart this feature now. Thanks for being patient :-)

[2018-02-07 21:11] TENDesign opened #118 "drag and drop not working. dropping an item does nothing."
Please remove sections that are not required.

* **I'm submitting a ...**
[X] other

* **What is the current behavior?**
I am able to drag an item, but the DOM is not being updated ondrop

* **What is the expected behavior?**
my ondrop method should update the items proper index property & place in new column

- Angular version: 5.x
- Browser: all

I am struggling to figure out why my drag and dro

[2018-02-22 15:53] Oowaay commented on #115
Any news about this bug ? I got the same problem with nested drag / drop container .

![image](https://user-images.githubusercontent.com/19151602/36548531-d1fb9636-17f0-11e8-8c95-4b033755d30d.png)

[2018-02-22 17:59] stherrienaspnet opened #119 "Question only"
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] other

How could I use your amazing drag & drop feature with svg angular component?

[2018-02-22 20:43] #119 closed

[2018-03-15 22:03] SteveCorbett commented on #118
If the onItemDrop function is being called then the drag function is working.  Try removing your PipeTransform and see if that helps.

[2018-03-21 18:57] rajankapila commented on #118
I am getting this issue too
`<div class="container-fluid">
  <div class="row h-100">
      <div class="col-3      ">
        <ul>
        <li draggable   [dragScope]="'drink'" [dragData]="service"  class="  " *ngFor="let service of (this.controlCenterState | async).Services; let i = index">

         {{service.featureName}}

          </li>
          </ul>
      <hr/>
      </div>
      <div class

[2018-03-21 18:58] rajankapila commented on #118
I am getting this issue too

[code]

[2018-03-23 06:14] pratapaditya opened #121 "I want set property to dropped item(from popup), how can apply the ID for dynamic child component?"
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via https://plnkr.co or similar.

* **What is the expected behavior?**

* **Please tell us about your environment:**

-

[2018-03-29 10:59] MasseElch commented on #12
@ObaidUrRehman Any update on this?

If not im happy to help.

[2018-03-29 12:13] ObaidUrRehman commented on #12
@MasseElch , @calebeaires really not able to find the time to work on this. You are more than welcome to start this feature. I will try to collaborate. Lets take this conversation to slack if we have to.
Cheers!

[2018-03-30 07:57] MasseElch commented on #12
@ObaidUrRehman Is #58 a good starting point?

[2018-03-30 07:59] ObaidUrRehman commented on #12
@MasseElch it can be, but it has some issues. If you can work that out and probably improve the design.

[2018-04-02 11:46] SivaPrakashK90 opened #122 "unable to add the element at specific index in dropped items."
Hi,
 I want to add the element to a specific position in the list (i.e. in between element 'A' and 'B' I want to add element 'X'). But in the onDrop event, I'm not getting anything like the index to add the element into specific position at "dropped items"

can anybody tell me how to add an item to a specific index of dropped items?

[2018-04-02 21:46] aadeshkranderia opened #123 "Drag and Drop within same div"
I have a image tag and a paragraph tag inside a div container. Is it possible to drag and drop the image or paragraph inside the same div container. I mean I just want to move the element inside the div. Please let me know if that's possible?

[2018-04-03 13:29] ObaidUrRehman commented on #123
Not sure I understand how the DOM in your case is structured. You could decorate the parent div with both `dragable` and `dropable` but that would not do any good since drag drop ordering is not currently supported.

[2018-04-03 13:31] ObaidUrRehman commented on #122
This feature is currently in development. Closing as Duplicate of #12

[2018-04-03 13:31] #122 closed

[2018-04-03 13:32] ObaidUrRehman commented on #121
Can you please add more detail to this?

[2018-04-05 08:57] gligoran commented on #60
@idoor88 You could have said how you got it to work.

[2018-04-11 11:21] SivaPrakashK90 opened #125 "Can i select multiple items and drang at time?"
Hi ObaidUrRehman,
I have two list items I'm Dragging the item from one list and adding it to the other list by dropping the item
till now everything is working fine. Is it possible to add multiple items at a time by using drag and drop? if yes what is the process?

[2018-04-11 11:28] SivaPrakashK90 commented on #122
Hi ObaidUrRehman,
Thanks for your updated. I have resolved this issue.

**Steps:**
1. I'm getting closest element where I drop the element.
       var id = element.nativeEvent.target.closest('li').getAttribute('Id');
2.  im find the index of the item in list and pushing item into list from "element.dragData"
       this.ListItems.splice(i, 0, element.dragData);

[2018-04-11 11:46] SivaPrakashK90 opened #126 "want to customize cursor pointer at time of dragging and holding the item...?"
Hi ObaidUrRehman,
Can I customize cursor pointer instead of showing "cursor: not-allowed;" in black color at the time of dragging I want to show different hand symbols. can I customize cursor pointer if yes how?
Thank you

[2018-04-11 17:40] ObaidUrRehman commented on #126
@SivaPrakashK90, not sure if it possible to customize it. Of all the solutions that I have looked into, I couldn't find a clean cross-browser fix for this.

[2018-04-11 17:42] ObaidUrRehman commented on #125
@SivaPrakashK90 I am afraid this is not possible with this component.

[2018-04-11 17:42] #125 closed

[2018-04-12 05:48] SivaPrakashK90 commented on #126
@ObaidUrRehman, Thanks for your update, at least plz provide a solution for chrome and firefox.

[2018-04-12 09:37] egozavr opened #127 "Basic example doesn't work, dropping item does nothing."
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] other

* **What is the current behavior?**
Basic example from manual doesn't work for me. When I drop item nothing happens. May be its's not compatible with stackblitz.
Code is [here](https://stackblitz.com/edit/angular-drag-drop-example).

[2018-04-12 11:02] ObaidUrRehman commented on #127
The basic requirement is to have an onDrop handler on the `droppable` & set drag data on the `draggable`.
I modified your example to include both. Link: https://stackblitz.com/edit/angular-drag-drop-example-tw7dt3

[2018-04-12 11:11] egozavr commented on #127
Thanks, it's clear now )

[2018-04-12 11:12] #127 closed

[2018-04-13 05:46] adeelhussain opened #128 "Excluding some element inside draggable element"
* **I'm submitting a ...**
[*] feature request

* **What is the current behavior?**
Right now if we put the directive into the parent div then its makes the whole div draggable, also it provides handler too through which we can drag using that handler

* **What is the expected behavior?**
It should allow to exclude some elements inside that div by passing the ID or Class or any identifier in the d

[2018-04-13 06:08] ObaidUrRehman commented on #128
Can you explain the use case for this?
Is there any possibility you can apply the directive to items within the div and not on the div itself?

[2018-04-13 07:36] adeelhussain commented on #128
@ObaidUrRehman Lets say i have a div which have draggable directive and inside that there is an input field, now if i want to select all the text inside that input field by clicking and drag then this is not allowing and the whole div start dragging!

[2018-04-20 18:38] ausinha opened #129 "Angular1 examples?"
Are there any examples or Angular 1?

[2018-04-23 05:39] ObaidUrRehman commented on #129
@ausinha sorrybut this is an Angular 2+ component only.

[2018-04-23 05:39] #129 closed

[2018-04-23 07:50] ed-alertedh commented on #128
@adeelhussain I had the same problem. As a workaround I found I could disable dragging when the mouse enters any of the input fields.
In the component code:

    export class MyComponent {
        private dragEnable: boolean = true;
    }

Then inside the html template:

    <div class="my-container-class" draggable [dragEnabled]="dragEnable">
        <input (mouseenter)="dragEnable=false" (mousel

[2018-04-23 09:51] adeelhussain commented on #128
@ed-alertedh i have done the same 😄

[2018-04-26 12:37] Tiaryn opened #130 "Plunker demo malfunctioning"
* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**

The plunker demo is broken.
Shown error by plunker:

* **What is the expected behavior?**

Plunker builds and shows demo.

[2018-04-26 12:41] ObaidUrRehman commented on #130
Looks like something is wrong with Plunkr.
Anyway, Plunkr is old school. I am going to move the demo to StackBlitz very soon.

Here is a temporary StackBlitz for you to try: https://stackblitz.com/edit/ng-dd-optimized

[2018-05-07 14:18] greenkeeper[bot] opened #131 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/ObaidUrRehman/ng-drag-drop/compare/master...ObaidUrRehman:greenkeeper%2Fup

[2018-05-13 02:04] Kiougar opened #132 "Errors with Angular v6 and RxJS v6"
### Issue

When upgrading to `Angular v6` (which uses `RxJS v6`) the following errors appear because of **breaking changes** introduced with `RxJS v6`.

[code]

### Workaround
Install a temporary compatibility library:
[code]

### Solution
Use `rxjs-tslint` to refactor TypeScript code so that it doesn't depend on `rxjs-compat`:
[code]
Here is the complete migration guide from rxjs v5.x to v6:
http

[2018-05-14 14:40] heltonalves99 opened #134 "Drag Drop multiple objects"
Hi guys, how are you ?

is there any way to drag and drop multiple objects ?
I'm using just for single object, but now I need move multiple objects!

thanks a lot!

[2018-05-14 18:07] heltonalves99 commented on #134
Duplicate issue!
sorry!

[2018-05-14 18:07] #134 closed

[2018-05-15 14:46] heltonalves99 opened #136 "Doubts - can I change thumb before was generated?"
Hi guys, how are you ?

I'm trying pass more information in thumb generated by drag, is there any way to do this?

he is a print showing example how Pivotal Traacker works:
![screen shot 2018-05-15 at 10 50 51](https://user-images.githubusercontent.com/3705775/40064321-a51ed7c4-5835-11e8-98c1-9bb536fca661.png)

[2018-05-18 14:44] ederlindsay commented on #12
@ObaidUrRehman - Your module is very useful for our team of developers, however it has only one missing detail: the sortable function inside. **I hope it's released very soon.**

[2018-05-29 08:38] scic commented on #132
Since the PR is merged. Is there anything left for a release of the Angular 6 support without rxjs-compat?

[2018-05-30 16:46] nazarioa commented on #132
what @scic said, I would like to help move this alon. Also, thank you to @aleclerctekaris

[2018-05-31 21:56] vmsoftware commented on #115
I have found a solution, however I don't know if it is the best aproach... however It works

I hope this help to any person in the future.

simply at the end of OnDrop function put:

`var items = document.querySelectorAll(".contenido div");

    for (let j = 0; j < items.length; j++) {
      var element = items[j];
      element.classList.remove("drag-over-border");
    }`

`.contenido div` is my

[2018-05-31 21:56] edlugome opened #137 "Get data onDragEnter"
Is it possible to get data when item enters droppable zone?

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] other

- Angular version: 5.2.4
- Angular CLI Version: 1.7.4

[2018-06-03 16:33] SkYNewZ opened #139 "Is it possible to get the target element ?"
[ ] bug report
[x] feature request
[x] other

Hi!

I currently start using this library with a multiple element that are draggable & droppable each other.
I can have the draged element with the `onDrop` event but I need to have the target element on which it's deposited, is it possible ?

[2018-06-04 23:03] redevill commented on #123
This is an extension of the same question:
I wanted to implement my own ordering, by dragging and dropping in the same div.
The intent was to have both draggable and droppable on the element in the same div as below.
I'll pass the original Position data as the drag data, and then process it on the element where it gets dropped.

`<div class="sortingContainer" *ngFor="let result of results">
  <myS

[2018-06-07 00:48] redevill commented on #139
Or, in the case of multiple elements inside a single container, to be able to define a "target" in this case. Because you would need to know where, in the container you are dropping your item. This would allow a sorting use case.

[2018-06-11 19:13] cole21771 commented on #132
Anybody know when this will be merged to master / released?

[2018-06-11 19:16] ObaidUrRehman commented on #132
Sorry for the delay on this. I will build by end of the week. In the meantime, if anyone wants to take a stab at it I'll be happy to add him as a collaborator.

[2018-06-13 11:20] Miru5 commented on #12
any news on this?

[2018-06-13 11:22] MasseElch commented on #12
I did some work on it, but then ended up using another plugin instead. I still want to make this happen, but i rarely find time for it :-(

[2018-06-13 11:35] Miru5 commented on #12
I'm currently trying to implement drag/drop on mat-tree nodes.. kinda tricky

[2018-06-13 12:16] calebeaires commented on #12
@MasseElch The sort thing is the last feature to make this module the best of all. ngx-dnd (from swimlane) do it, but has some issues that turn its implementation more complex.

[2018-06-14 19:20] krishghosh commented on #115
Any updates on this bug. I have noticed that intermittently onDragEnd is not triggered and it that time when the dragClass and dragHintClass remain applied to concerned items.

[2018-06-15 08:01] krishghosh commented on #115
Alright, this might be helpful for anybody who is facing this issue too.
For me, the actual problem lies in my project itself and not the ng-drag-drop module.

What caused my issue was:
I had a background task running, that in every few seconds updated the dom. Now this process momentarily block page (few milliseconds). Problem is that during this dom update, drag events are ignored. So for me if

[2018-06-18 14:49] cole21771 commented on #132
@ObaidUrRehman oof

[2018-06-19 14:36] cole21771 commented on #132
@ObaidUrRehman Come on man, it's been 8 days since you said you'd get to merging to master. I would really like to use your library in my project!

[2018-06-20 16:00] ObaidUrRehman commented on #132
Sorry for the delay on this one Guys. Just published v5.0.0

[2018-06-20 16:00] #132 closed

[2018-06-20 16:02] ObaidUrRehman commented on #136
@heltonalves99 I am afraid this is not possible with this component.

[2018-06-20 16:04] ObaidUrRehman commented on #126
@SivaPrakashK90 I can't seem to find a solution. Could use some pointers from you if possible.

[2018-06-20 16:12] ObaidUrRehman commented on #118
Closing due to inactivity.

[2018-06-20 16:12] #118 closed

[2018-06-24 13:39] jitendramalan7 opened #140 "rxjs_1.of is not a function"
When I am dropign an element is showing an error in console like rxjs_1.of is not a function. Please provide the solution for this. it will be a great help.

Thanks in advanced.

![image](https://user-images.githubusercontent.com/18457124/41819672-12f0afae-77e2-11e8-9062-829bb05f95f4.png)

[2018-06-24 13:43] jitendra-tft commented on #140
facing the same issue

[2018-06-24 13:53] jitendra-tft commented on #140
using rxjs version 5.5.11 and ng-drag-drop version latest

[2018-06-27 07:07] Tucaen commented on #128
Any updates on this?
My use case is a table header, which can be dragged for resorting the columns order and also opens a popover on clicking the filter icon. The popover is draggable as well and I have the same problem with the inputs.

The suggested workaround would be pretty messy, because of component nesting.

[2018-06-27 12:54] thimovss commented on #140
Same problem here, any known work around available?

[2018-06-27 13:14] ObaidUrRehman commented on #140
what version of angular?

[2018-06-27 14:09] jitendra-tft commented on #140
5

[2018-06-28 19:53] vinayakpatil commented on #75
@ObaidUrRehman This can be solved by adding below check in `dragenter` of sortable-directive.
[code]

[2018-06-29 12:20] ObaidUrRehman commented on #140
This component was upgraded to use angular v6 & rxjs v6.1.0. I think you will need to fall back to the one previous version.

[2018-06-29 12:22] ObaidUrRehman commented on #137
Yes, very much do-able. I could really use a PR on this :-)

[2018-06-29 13:36] jitendramalan7 commented on #140
Thank you. I just move to back version and it is working fine.

[2018-06-29 13:36] #140 closed

[2018-07-03 19:29] vinayakpatil commented on #77
please refer to: https://github.com/vinayakpatil/ng-drag-drop/tree/feat/sortable

[2018-07-04 14:39] vinayakpatil commented on #12
@ObaidUrRehman Can you review changes from https://github.com/vinayakpatil/ng-drag-drop/tree/feat/sortable?

It seems to have fixed all the open issues related to this feature.

[2018-07-05 08:37] fmavdb opened #141 "Native file drag-drop support"
[ ] bug report
[x] feature request
[ ] other

* **What is the current behavior?**
Ignores native file drag-drop events

* **What is the expected behavior?**
As a user I want to be able to receive drag-drop events from native files when I allow them in my drop scope.

* **Please tell us about your environment:**
- Angular version: 6.0.7
- Angular CLI Version: 6.0.7
- Browser: all

I have a working

[2018-07-05 12:45] dhiraj3301 commented on #123
Is there any plan to support drag and drop to the same div (Container) by doing drag and drop?

[2018-07-20 11:40] ObaidUrRehman commented on #12
@vinayakpatil can you send a PR?

[2018-07-20 14:15] vinayakpatil commented on #12
@ObaidUrRehman sure

[2018-08-03 12:50] joesleiman commented on #140
i have the same issue:
angular: 5
how should i downgrade angular to old version (4) and u said that the component was upgraded to use angular 6 , it;s not logical, as i understand.
and in this link https://www.npmjs.com/package/ng-drag-drop#installation
documentation of ng-drag-drop they said that it's for angular 5 not 6 .

[2018-08-07 17:59] westlakem opened #144 "Drop doesn't move item"
Please remove sections that are not required.

* **I'm submitting a ...**
[ X ] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**

Dropping an item doesn't move it

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via https://plnkr.co or similar.

[code]
* **What is the expected behavior?**

When

[2018-08-07 20:00] westlakem opened #145 "Drag data with angular inputs"
Please remove sections that are not required.

* **I'm submitting a ...**
[ X ] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**

Angular inputs cut off the html.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via https://plnkr.co or similar.

Component.ts

[code]

HTML FILE:
[code]

DOM REND

[2018-08-07 22:50] JBrownie77 commented on #140
+1. Which version for angular 5?

[2018-08-28 19:40] JBrownie77 commented on #139
I got it to work this way:
(onDrop)="onDrop($event, <target or other data>)"

public onDrop(e: any, target: any): void {
}

[2018-09-06 14:31] Geronimoz commented on #144
I don't think this is a bug, it is expected behaviour. You need to specify the (onDrop) event to move items between containers. See https://github.com/ObaidUrRehman/ng-drag-drop#transfer-data-via-drag-drop

[2018-09-12 18:35] pzero24 commented on #136
Yes, you can. I am doing it in one of my projects. The secret is to create an element in Javascript, and then use setDragImage() to set it to that element. Here is an example of how this works:

[code]

Note that the native drag and drop API automatically adds a transparency gradient for elements of a certain size (around 300px on X or Y axes).

[2018-09-13 05:54] DSaralaya opened #149 "Angualr 6 Observable issue"
Currently getting below issue.

TypeError: Observable_1.Observable.of is not a function
    at Droppable.push../node_modules/ng-drag-drop/src/directives/droppable.directive.js.Droppable.allowDrop (droppable.directive.js:151)
    at SafeSubscriber._next (droppable.directive.js:161)

[2018-09-19 05:51] manishambashta commented on #54
@ObaidUrRehman : any updates on this enhancement??

[2018-09-25 02:19] Skrigueztep commented on #144
Hi, i have a similar error; Could you help me?

My case its the following:

I take (Drag) a element of my list1 and when i (Drop) this element on list2, It isnt move & send a Error on console:

<code>TypeError: Cannot read property 'map' of undefined
    at UserDashboardComponent.push../src/app/</code>

I have reviewed the code and it is in this segment where it marks the error:

<code>  onDropSel

[2018-10-01 18:14] WefNET commented on #149
Same here:

ERROR TypeError: Observable_1.Observable.of is not a function
    at Droppable.push../node_modules/ng-drag-drop/src/directives/droppable.directive.js.Droppable.allowDrop (droppable.directive.js:151)
    at SafeSubscriber._next (droppable.directive.js:161)
    at SafeSubscriber.push../node_modules/rxjs/_esm5/internal/Subscriber.js.SafeSubscriber.__tryOrUnsub (Subscriber.js:196)
    at S

[2018-10-02 11:32] scotch83 commented on #140
Hello, sorry but I see in this repo only versions until the 4.0.1, while the npm package I download is already at 5.
Did this get somehow replaced by something else?

[2018-10-22 08:34] TKul6 opened #150 "Change frag image before drag"
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report
[X ] feature request
[ ] other

* **What is the current behavior?**
When start dragging an element I create a specific drag image and bind the **dragImage** property of the directive. Unfortunately it seems the directive first start the drag and only then change the image url.

I'm pretty sure the issue is I c

[2018-10-22 08:43] TKul6 opened #151 "Creating image when start deragging"
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report
[X ] feature request
[ ] other

* **What is the current behavior?**

The **onDragStart** event is invoked after the image has been added to the dataTransfer object of the drag event.

In my site, I wish to create a specific image depended on the user's current object drop.

I tried to hook to the **onDragStart

[2018-10-22 16:30] souzaemmanuel commented on #149
Same error:

ERROR TypeError: Observable_1.Observable.of is not a function
    at Droppable.push../node_modules/ng-drag-drop/src/directives/droppable.directive.js.Droppable.allowDrop (droppable.directive.js:151)
    at SafeSubscriber._next (droppable.directive.js:161)
    at SafeSubscriber.push../node_modules/rxjs/_esm5/internal/Subscriber.js.SafeSubscriber.__tryOrUnsub (Subscriber.js:196)
    at

[2018-10-22 16:30] souzaemmanuel commented on #149
Same error:

ERROR TypeError: Observable_1.Observable.of is not a function
    at Droppable.push../node_modules/ng-drag-drop/src/directives/droppable.directive.js.Droppable.allowDrop (droppable.directive.js:151)
    at SafeSubscriber._next (droppable.directive.js:161)
    at SafeSubscriber.push../node_modules/rxjs/_esm5/internal/Subscriber.js.SafeSubscriber.__tryOrUnsub (Subscriber.js:196)
    at

[2018-10-23 09:15] uareurapid commented on #151
hi @TKul6
I don't think any of these will get fixed, the project maintainer announced the end of it: https://github.com/ObaidUrRehman/ng-drag-drop

[2018-10-26 09:59] TKul6 commented on #151
Moved to Material CDK Drag & Drop

[2018-10-26 09:59] #151 closed

[2018-10-26 10:00] #150 closed

[2018-10-26 13:02] Ver0nika commented on #149
Same here :/

ERROR TypeError: Observable_1.Observable.of is not a function
    at Droppable.push../node_modules/ng-drag-drop/src/directives/droppable.directive.js.Droppable.allowDrop (droppable.directive.js:151)

[2018-11-21 17:19] GadyTal commented on #149
Same here :/

ERROR TypeError: Observable_1.Observable.of is not a function
    at Droppable.ac_main../node_modules/ng-drag-drop/src/directives/droppable.directive.js.Droppable.allowDrop

[2018-12-07 06:51] dangthanhmiu opened #156 "Excluding background image from parent div when draggable item is triggered"
I am finding a way to exclude a part of background image from parent div when draggable item is triggered.

This is the code :

'<div style="background-image:url('/image.jpg')">
<ul>
<li draggable>item</li>
<ul>
</div>'

So when I drag the <li>, it included also background from <div>. Trying to remove with css but seems impossible.

Angular CLI: 6.2.8
Node: 10.0.0
OS: darwin x64
Angular: 6.1.10
Br

[2018-12-13 09:00] GadyTal commented on #149
Any news? 🙏🙏🙏

[2019-02-08 14:17] #139 closed

[2019-04-18 05:05] michael2043 opened #158 "cannot drag files?"
I want to drag files from desktop,how can I do with it

[2019-04-22 15:10] ObaidUrRehman commented on #158
How about this: https://www.npmjs.com/package/ngx-file-drop

[2019-04-22 15:10] #158 closed

[2019-04-29 15:48] hughanderson4 commented on #130
I made this Stackblitz based on original Plunker demo:

https://stackblitz.com/edit/ng-drag-drop77

Only problem is the drag handle demo does not work.

Can you please see if something is wrong there?

[2019-04-29 16:11] hughanderson4 opened #159 "Need to lock axis during drag"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] other

* **What is the current behavior?**
My use case is I need to drag items within a list to reorder them.
Need to lock the motion of the dragged item to vertical only.

* **What is the expected behavior?**
Would like an Api option to restrict movement to x or y axis during drag.

* **Please tell us about your environment:**
Angu

[2019-05-07 12:18] InYourHead commented on #44
@ObaidUrRehman Does this problem will be resolved soon? It's 2019 year already

[2019-05-08 05:06] ObaidUrRehman commented on #44
@InYourHead I have stopped active development on this project.
https://github.com/ObaidUrRehman/ng-drag-drop#warning-discontinuation-notice

[2019-05-14 13:56] DenisDremkov opened #160 "Not working drag drop in special case for touch devices"
g

[2019-05-14 14:04] #160 closed

[2019-06-03 12:17] Bjeaurn opened #163 "ng-drag-drop package is not compatible with Ivy builds"
Please remove sections that are not required.

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**
When I start my application with `enableIvy: true` set, it runs into a compile error:
[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via https://plnkr.co or si

[2019-06-03 12:37] Bjeaurn commented on #163
Apparantly related to https://github.com/angular/angular/issues/29564

[2019-06-25 13:49] harleenarora opened #170 "How to drop the div at certain position?"
Hi,
I am working on angular 8 application.
**Requirement**::

Drag the div any drop any certain position on the page. I have found solution in jquery 1.9.1.See reference: http://jsfiddle.net/Aneeshmohan/qbxfbmtt/

[2019-06-25 13:49] harleenarora opened #171 "How to drop the div at certain position?"
Hi,
I am working on angular 8 application.
**Requirement**::

Drag the div any drop any certain position on the page. I have found solution in jquery 1.9.1.See reference: http://jsfiddle.net/Aneeshmohan/qbxfbmtt/

[2019-08-15 13:33] EmmanuelGav commented on #12
Hello, How can I install the sortable with npm install?

[2019-08-20 07:27] samirs00 opened #175 "Not compatible to safari browsers"
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via https://plnkr.co or similar.

* **What is the expected behavior?**

* **Please tell us about your environment:**

-

[2019-10-29 10:39] peter-snr opened #176 "dragClass has not effect"
Please remove sections that are not required.

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] other

* **What is the current behavior?**

Expected this:-

dragClass (previously dragOverClass) | string | 'drag-border' | CSS class applied on the draggable that is applied when the item is being dragged.

**Applying dragClass has no effect.
I have applied a dragClass but it has no

[2019-12-25 12:07] Tucaen opened #179 "Any plans on supporting svg?"
Since SVG-Elements do not support the drag-events, the lib is obviously not working in SVG.
Is there any plan on supporting SVGs (via mousdown, mousemove, etc.) at any time in the future?

[2020-02-20 10:48] mathiarasirangasamy commented on #108
This works for me:

imports: [
NgDragDropModule.forRoot(),
IonicPageModule.forChild(LayoutPage),
],

[2020-09-01 14:00] kAvItHa-cL commented on #12
Hi, is this functionality available, if so how to use it

[2020-10-28 18:43] seiyria commented on #163
My lamentable solution to this is to bring the code into your project manually, and it works like a charm.

[2020-12-01 09:00] prythms commented on #118
ng-drag-drop
Drop not working. dropping an item does nothing

1. npm install ng-drag-drop --save

2. Import NgDragDropModule
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { DemoComponent } from "./components/demo-component";
import { NgDragDropModule } from 'ng-drag-drop';

@NgModule({
  imports: [
      BrowserModule,
      NgDragDropM

[2020-12-01 09:04] prythms opened #185 "ng-drag-drop. Drop not working"
ng-drag-drop
Drop not working. dropping an item does nothing

`npm install ng-drag-drop --save`

[code]
ts code
[code]

[2021-01-04 12:44] WineBewes opened #187 "Please add documentation for changing cursor while dragging when Ctrl-key is pressed/released"
I know this package is discontinued, but I really like it because it's so lightweight (eg. no dependencies to @angular/material which I don't use). However, there's one piece of information I was missing, and that was how to change the cursor while dragging when the Ctrl-key is pressed/released. I found the solution, and maybe this little bit of information could be included in the documentation ?

[2021-01-04 17:12] ObaidUrRehman commented on #187
@WineBewes I am amazed as to how many downloads this package gets, even after 3 years since I deprecated this.
Would you mind sending a PR with the proposed changes?

[2021-01-11 07:42] #187 closed

[2021-12-29 12:17] tejaspanchal17 opened #194 "In card slider while dragging key board event is not working - like keyleft, keyright"
Please remove sections that are not required.

* **I'm submitting a ...**
[ ] bug report

* **Please tell us about your environment:**

- Angular version: 12
- Angular CLI Version: 12
- Browser: all